*{
    background-color:black;
color: orange;
}
#Assassin{
    
    height: 140px;
    width: 100px;
    padding: 0px;
    margin: 0px;
background-image: url(Assassin\'s\ Creed\ Mirage.jpg);
background-size: cover;
background-position: center;}


   

#navbar{
    height: 60px;
    background-color: rgb(158, 156, 156);
}

a{
    margin-right: 100px;
    color: orangered;
}
#logo{
    color: red;
    

}
input{
    color: black;
}