body {
  background-image: url("david-marcu-78A265wPiO4-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
}
#login {
    /* background-color: rgb(147, 226, 73); */
    text-align: center;
  border: 5px solid black;
  background-color: white;
  width: 30vw;
  height: 23vw;
  margin: auto;
  font-size: 28px;
  font-family: "Open Sans";
  border-radius: 40px;
}
#identity{
    color: black;
    background-color: white;
    height: 19px;
}
#password{
    background-color: white;
    height: 19px;
}
#btn{
    border: none;
    background-color: rgb(147, 147, 255);
    padding: 5px 50px 5px 50px;
    border-radius: 20px;
}