/* body {
  background-image: url("../img/david-marcu-78A265wPiO4-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#login {
  text-align: center;
  border: 5px solid black;
  background-color: white;
  width: 30vw;
  height: 23vw;
  font-size: 28px;
  font-family: "Open Sans";
  border-radius: 40px;
  position: absolute;
  top: 100;
  left: 50;
}

#identity {
  color: black;
  background-color: white;
  height: 19px;
}

#password {
  background-color: white;
  height: 19px;
}

#btn {
  border: none;
  background-color: rgb(147, 147, 255);
  padding: 5px 50px 5px 50px;
  border-radius: 20px;
}

#link {
  text-decoration: none;
} */
#loginform{
  border-radius: 15px;
  text-align: center;
  border: 3px solid white;
  width: 30vw;
  height: 50vh;
  position: absolute;
  top: 10vh;
  left: 35vw;
  font-size: 25px;
  color: rgb(149, 149, 149);
  background-color: rgba(0, 0, 0, 0.262);
}

body{
  background-color: rgba(0, 0, 0, 0.91);
}

#btn{
  width: 30px;
}

#submit-btn{
  text-decoration: none;
  color: black;
}

/* #ID{
  background-color: gray;
}

#password{
  background-color: gray;
} */